<!DOCTYPE html>
<html th:fragment="layout (template)">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="Blockchain"/>
</head>

<body>
    <h1>Header</h1>
    <!-- Page Content -->
    <div class="container">
        <div layout:fragment="content"/>
    </div>
    <!-- /.container -->
    <h1>Footer</h1>
</body>
</html>